body {
    /* height: 200px; */
    width: 300px;
    max-height: 400px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header-image {
    flex: 1;
}
#header-title {
    flex: 5;
    margin: 10px
}

.blocked-sites {
    overflow-y: scroll;
}

#site-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* height: 20px; */
}

#site-options p {
    flex: 5;
    font-size: 95%;
}

#stop-blocking {
    flex: 1;
    margin-left: 40px;
}

:root {
    --slider-width: 30px;
    --slider-position: 13px;
    --slider-start-end: 2px;
}






/* Slider button stuff inspired by https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: var(--slider-width);
    height: calc(var(--slider-width)/2 + 2px);
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--slider-position);
    width: var(--slider-position);
    left: var(--slider-start-end);
    bottom: var(--slider-start-end);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(var(--slider-position));
    -ms-transform: translateX(var(--slider-position));
    transform: translateX(var(--slider-position));
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
